//META{"name":"Neutron","description":"A fully customizable and compact theme, now sugar free!","author":"Spectra#7698","version":"5.0","source":"https://github.com/codedotspectra/discordneutron","website":"https://codedotspectra.github.io/neutron/"}*//{}
/*
███╗   ██╗███████╗██╗   ██╗████████╗██████╗  ██████╗ ███╗   ██╗
████╗  ██║██╔════╝██║   ██║╚══██╔══╝██╔══██╗██╔═══██╗████╗  ██║
██╔██╗ ██║█████╗  ██║   ██║   ██║   ██████╔╝██║   ██║██╔██╗ ██║
██║╚██╗██║██╔══╝  ██║   ██║   ██║   ██╔══██╗██║   ██║██║╚██╗██║
██║ ╚████║███████╗╚██████╔╝   ██║   ██║  ██║╚██████╔╝██║ ╚████║
╚═╝  ╚═══╝╚══════╝ ╚═════╝    ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
###################################################################################################
Neutron Theme for Better Discord

The author (Spectra#7698) retains full rights of this code.
You are not allowed to redistribute this theme or any part of it as your own. That means do not post an edited version of this theme anywhere.
You are allowed to edit the theme for personal use only.
If you enjoy using the theme, help spread the word!

This theme is meant to be used with the dark version of discord
###################################################################################################*/
@import url("https://raw.githack.com/codedotspectra/discordneutron/master/importCSS/core.css");
/*###################################################################################################*/
:root {
  /* Background image */
  --bgImage: url("https://i.imgur.com/b2wTshd.png");

  /* Main theme color */
  --mainColor: #ff5241;
  --mainDarker: #ff2143;

  /* theme colors */
  --dark: #16181d;
  --medium: #21252b;
  --light: #282c34;

  /* Text colors */
  --links: #ffad33;
  --ChatTextColor: #fff;
  --memberGroupColor: #fff;
  --UserPlayingTextColor: #a6a6a6;
  --ChannelsSelectedTextColor: #fff;
  --ChannelsDefaultTextColor: #8c8c8c;
  --ChannelsDarkTextColor: #666666;

  /* Wallpaper brightness | change this value from 0 to 1 */
  --brightness: 0.2;

  /* Home button */
  --HomeButtonImg: url("https://i.imgur.com/O0lNMMJ.jpg");
}
/*###################################################################################################*/
