//META{"name":"Neutron_Halloween","description":"A better looking Discord! Up to date and easy to customize, now with wallpaper feature!","author":"Spectra#7698","version":"4.0"}*//{}
/*
███╗   ██╗███████╗██╗   ██╗████████╗██████╗  ██████╗ ███╗   ██╗
████╗  ██║██╔════╝██║   ██║╚══██╔══╝██╔══██╗██╔═══██╗████╗  ██║
██╔██╗ ██║█████╗  ██║   ██║   ██║   ██████╔╝██║   ██║██╔██╗ ██║
██║╚██╗██║██╔══╝  ██║   ██║   ██║   ██╔══██╗██║   ██║██║╚██╗██║
██║ ╚████║███████╗╚██████╔╝   ██║   ██║  ██║╚██████╔╝██║ ╚████║
╚═╝  ╚═══╝╚══════╝ ╚═════╝    ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝


 ██░ ██  ▄▄▄       ██▓     ██▓     ▒█████   █     █░▓█████ ▓█████  ███▄    █
▓██░ ██▒▒████▄    ▓██▒    ▓██▒    ▒██▒  ██▒▓█░ █ ░█░▓█   ▀ ▓█   ▀  ██ ▀█   █
▒██▀▀██░▒██  ▀█▄  ▒██░    ▒██░    ▒██░  ██▒▒█░ █ ░█ ▒███   ▒███   ▓██  ▀█ ██▒
░▓█ ░██ ░██▄▄▄▄██ ▒██░    ▒██░    ▒██   ██░░█░ █ ░█ ▒▓█  ▄ ▒▓█  ▄ ▓██▒  ▐▌██▒
░▓█▒░██▓ ▓█   ▓██▒░██████▒░██████▒░ ████▓▒░░░██▒██▓ ░▒████▒░▒████▒▒██░   ▓██░
 ▒ ░░▒░▒ ▒▒   ▓▒█░░ ▒░▓  ░░ ▒░▓  ░░ ▒░▒░▒░ ░ ▓░▒ ▒  ░░ ▒░ ░░░ ▒░ ░░ ▒░   ▒ ▒
 ▒ ░▒░ ░  ▒   ▒▒ ░░ ░ ▒  ░░ ░ ▒  ░  ░ ▒ ▒░   ▒ ░ ░   ░ ░  ░ ░ ░  ░░ ░░   ░ ▒░
 ░  ░░ ░  ░   ▒     ░ ░     ░ ░   ░ ░ ░ ▒    ░   ░     ░      ░      ░   ░ ░
 ░  ░  ░      ░  ░    ░  ░    ░  ░    ░ ░      ░       ░  ░   ░  ░         ░

========================================
#  Discord Neutron                     #
#  By Spectra#7698                     #
#  Version: 4.0!                       #
========================================
###################################################################################################*/

/* Wallpaper */
.app, .callout-backdrop, .userPopout-11hFKo::before,.topSectionStreaming-3rIBIm, .topSectionPlaying-3jAH9b,.topSectionSpotify-3744IX, .topSectionNormal-2LlRG1 {
  background-image: url("https://i.imgur.com/3FOI29K.jpg") !important;
}
/* Home button image */
.guildInner-3DSoA4 a svg {
    background-image: url("https://i.imgur.com/pz2Nf8Q.png");
}
/* Colors | Use HEX or RGB*/
:root {
  --main-color: #ff751a;
  --main-darker: #cc5200;
  --dark: #16181d;
  --grey: #21252b;
  --light: #282c34;
  --links: #cc5200;
  --gradient1: #ff6600;
  --gradient2: #ffcc00;
}
/*###################################################################################################*/
/*======================================*/
/*======================================*/
/* CORE | LABELS */
/*======================================*/
/*======================================*/
/* is typing */
.typing-2GQL18 {
    top: -22px !important;
    border-radius: 6px;
    background: transparent !important;
}
/*-----------*/
.avatar-uploader-inner {background:transparent;}
.create-guild-container.deprecated .action {
    background: transparent;
    border: none;
}
.carousel-JbsNzL,
.paginationItem-3-MBTL:after,
.selectedPage-2JQS2s {
    background: rgba(0,0,0,0.5);
}
.theme-dark .header-1RC2Wb:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.7);
}
/* is typing */
.typing-2GQL18 {
    top: -22px !important;
    border-radius: 6px;
    background: transparent !important;
}
/* ? */
.search-bar {background: transparent;}
.theme-dark .cardPrimaryOutline-29Ujqw,
.theme-dark .cardPrimaryEditable-3KtE4g {border-color:var(--dark);}
.ui-standard-sidebar-view .sidebar-region .sidebar {padding: 20px 6px 20px 6px;}
.ui-standard-sidebar-view .sidebar-region {flex: 0 0 0px;}
.ui-standard-sidebar-view .content-column.default {max-width:none;}
.autocomplete-1vrmpx,
.autocomplete-i9yVHs,
.da-autocomplete,
.autocompleteInner-zh20B_,
.autocompleteInner-zh20B_, .autocompleteRowVertical-q1K4ky{
    background-color: rgba(0,0,0,0.5) !important;
}
.theme-dark .selectorSelected-1_M1WV {
    background-color: rgba(0,0,0,0.7);
}

.uploadModal-2ifh8j,
.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: var(--dark);
}
.uploadModal-2ifh8j .footer-3mqk7D .button {
    background-color: transparent;
}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    color: #fff !important;
}
.theme-dark .note-3kmerW textarea {
    background-color: rgba(0,0,0,0.5);
}
.bodyTitle-Y0qMQz {
    color: #fff;
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: var(--dark);
}
.guildInner-3DSoA4 a svg g {
    display: none;
}
.guildInner-3DSoA4 a svg {
    background-repeat: no-repeat;
    background-size: cover;
}
/*  MESSAGES  */
.channelTextArea-rNsIhG {margin: 5px 0 5px;padding-top: 3px !important;}
.theme-dark .message-group:not(.has-divider) {border:none;}
.message-group.compact.message-group {padding:0;}
/* LINKS */
a,.wrapper-O5i5-0 .instantInviteModal-3vhcvC .clipboardInputInner-RLx2hK input {color: var(--links) !important;}
.messagesWrapper-3lZDfY a {
    background: transparent !important;
}
.theme-dark .markup-2BOw-j a,
.theme-dark .embedTitleLink-1Zla9e {
    color: var(--links) !important;
}
/* Embeds */
.theme-dark .embedInner-1-fpTo {
    background-color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.9);
}
/* Plugins Settings */
.plugin-settings {
    color: #fff;
}
.plugin-settings button {
    padding: 5px;
    border-radius: 4px;
    background-color: var(--main-color);
    color: #fff;
    margin-left: 5px;
}
.plugin-settings button:first-of-type {
    margin-left: 0px;
}
.bda-slist .bda-footer button {
    background-color: var(--main-color);
}
.plugin-settings input {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #000;
    background-color: var(--dark);
    color: #fff;
    margin-top: 5px;
}
/*  SCROLLBARS  */
::-webkit-scrollbar {border: none !important;width: 8px !important;}
::-webkit-scrollbar-track {background: var(--grey);border: none !important;}
::-webkit-scrollbar-track-piece {background: var(--grey) !important;border-radius: 0px !important;border: none !important;}
::-webkit-scrollbar-thumb {background: var(--dark) !important;border-radius: 0px !important;border: none !important;}
/* Invite links */
.theme-dark .wrapper-35wsBm {
    background: rgba(0,0,0,0.7);
    border: 2px solid rgba(0,0,0,0.9);
}
.theme-dark .guildIconExpired-2Qcq05 {background: rgba(0,0,0,0.9);}
.guildIconExpired-2Qcq05 {border-radius:10px;}

/* Messages separator w/ date */
.theme-dark .divider-3gKybi:not(.red-1YQ4s7) div,
.theme-dark .divider-3gKybi:before {background-color:transparent;}

/* New messages notification */
.newMessagesBar-mujexs {background-color: var(--main-color);}

/* CODE */
.theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline {background: transparent;}
.theme-dark .markup-2BOw-j pre {
    background: rgba(0,0,0,0.5);
    border-color: #000;
}
.theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline {background: rgba(0,0,0,0.7);}

/* MEMBERS */
.theme-dark .membersGroup-v9BXpm {
    text-align: center;
    font-size: 14px;
    line-height: 0px;
    padding-bottom: 10px;
    padding-left: 0;
    margin-left: 10px;
    margin-bottom: 5px;
    height: 20px;
    color: #fff;
    border-bottom: none;
    width: 75%;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--main-color), rgba(0, 0, 0, 0)) 100% 0;
    border-top: none;
}
.content-OzHfo4 {
    padding: 8px;
}
.member-3W1lQa {
    height: 35px;
    margin: 1px;
}
.membersGroup-v9BXpm {
    height: 20px;
}
/* SERVER ICONS */
.guild-1EfMGQ,
.iconSizeLarge-161qtT,
.guild-1EfMGQ .guildInner-3DSoA4 a {
    height: 35px;
    width: 35px;
}
.guildsAddInner-1KMFy-{
  top: -4px;
}
.guildsWrapper-5TJh6A {
    width: 55px;
}
.guilds-1q_RqH {
    padding: 5px 0 5px 10px;
}
.friendsOnline-_wi_fM {
  margin-left: -7px;
}
.theme-dark .guildsAdd-21_IdK {
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    color: #fff;
}
/* private msg icon */
.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {
  background: var(--grey);
}
.guild-1EfMGQ .avatar-small {
  height: 35px;
}
.guildSeparator-1X4GQ1:after {
  content: none;
}
/* BLOCKED MESSAGES */
.theme-dark .messageGroupBlocked-3wrQQX.revealed-1_RKsf,
.theme-dark .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh- {
    background: rgba(0,0,0,0.4);
    border-color: rgba(0,0,0,0.7);
}
.theme-dark .messageGroupBlocked-3wrQQX{
    border-color: rgba(0,0,0,0.7);
}
.theme-dark .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-:hover {
    background: rgba(0,0,0,0.5);
}
.theme-dark .messageGroupBlocked-3wrQQX {
   background: rgba(0,0,0,0.4);
}
/*-----------*/
.avatar-uploader-inner {background:transparent;}
.create-guild-container.deprecated .action {
    background: transparent;
    border: none;
}
.carousel-JbsNzL,
.paginationItem-3-MBTL:after,
.selectedPage-2JQS2s {
    background: rgba(0,0,0,0.5);
}
.theme-dark .header-1RC2Wb:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.7);
}
.large-3ChYtB .image-33JSyf[style*="236872144473030656"]::after {
  flex-shrink: 0;
  margin-left: 23px;
  position: relative;
  top:20px;
  height: 30px;
  width: 30px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(https://i.imgur.com/CrfQ0OQ.png);
}

.nameSelectedText-sp_EUw::before {
  padding: 2px 3px 2px 3px;
  background: #1a3cb3;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  text-transform: uppercase;
  flex-shrink: 0;
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  margin-right: 6px;
  padding: 1px 2px;
  margin-top:9px;
  vertical-align: top;
  content: "Selected";
}

.botTagRegular-2HEhHi {
    padding: 2px 3px 2px 3px;
    background: #e68a00;
    border-radius: 3px;
    display: inline-block;
    flex-shrink: 0;
    font-size: 10px;
    font-weight: 500;
    line-height: 13px;
    margin-left: 6px;
    padding: 1px 2px;
    text-transform: uppercase;
    vertical-align: top;
}
.wordmark-2iDDfm:after {
    padding: 0;
    background-color: transparent;
    background: -webkit-linear-gradient(var(--gradient1), var(--gradient2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: lime;
    font-weight: bold;
    border-radius: 0px;
    display: inline-block;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 1000;
    line-height: 14px;
    margin-left: 6px;
    padding: 1px 2px;
    text-transform: uppercase;
    vertical-align: top;
    content: "Neutron Halloween";
}
/* Search Box */
.theme-dark .search-results-wrap .channel-separator .channel-name,
.theme-dark .search-results-wrap .search-header {
    background: var(--dark);
}
.searchPopout-1vUlP3.da-searchPopout .resultsGroup-r_nuzN.da-resultsGroup .option-96V44q.selected-rZcOL-:hover,
.searchPopout-1vUlP3.da-searchPopout .resultsGroup-r_nuzN.da-resultsGroup .option-96V44q.searchOption-zQ-1l6.selected-rZcOL-:hover,
.theme-dark .search-results-wrap {
    background: var(--grey);
}
.search-results-wrap .action-buttons {
    background-color: var(--dark);
}

.theme-dark .search-results-wrap .search-result:after{
    display: none;
}
.theme-dark .search-results-wrap .search-result:before {
    display: none;
}

.search-results-wrap .search-result .search-result-message {
    background-color: var(--dark);
}

.theme-dark .jumpToPresentBar-9P20AM {
    background-color: rgba(0,0,0,0.2);
}
.theme-dark .jumpToPresentBar-9P20AM:hover {
    background-color: rgba(0,0,0,0.4);
}

.appMount-3VJmYg.bda-dark.da-appMount.da-bdaDark.bd-detached-editor .theme-dark.popouts-3dRSmE.a11y-font-scaled-up.da-themeDark.da-popouts .noShadow-321ZPm.popout-3sVMXz.popoutBottom-1YbShG.popoutbottom.da-noShadow.da-popout.da-popoutBottom.da-popoutbottom .searchPopout-1vUlP3.da-searchPopout .resultsGroup-r_nuzN.da-resultsGroup,
.appMount-3VJmYg.bda-dark.da-appMount.da-bdaDark.bd-detached-editor .theme-dark.popouts-3dRSmE.a11y-font-scaled-up.da-themeDark.da-popouts .noShadow-321ZPm.popout-3sVMXz.popoutBottom-1YbShG.popoutbottom.da-noShadow.da-popout.da-popoutBottom.da-popoutbottom .searchPopout-1vUlP3.da-searchPopout .option-96V44q.searchQuery-1B7rtx.selected-rZcOL-.da-option.da-searchQuery.da-selected,
.appMount-3VJmYg.bda-dark.da-appMount.da-bdaDark.bd-detached-editor .theme-dark.popouts-3dRSmE.a11y-font-scaled-up.da-themeDark.da-popouts .noShadow-321ZPm.popout-3sVMXz.popoutBottom-1YbShG.popoutbottom.da-noShadow.da-popout.da-popoutBottom.da-popoutbottom .searchPopout-1vUlP3.da-searchPopout .option-96V44q.searchQuery-1B7rtx.selected-rZcOL-.da-option.da-searchQuery.da-selected .searchFor-3W5Vad.da-searchFor {
    background: var(--dark);
}
/* user popup */
.headerPlaying-j0WQBV {
    background-color: var(--dark);
}
.body-3iLsc4,
.footer-1fjuF6 {
    background-color: var(--grey);
 }
 /*  Custom CSS  */
 .ace_scroller {
     background: var(--grey);
 }
 .ace-monokai .ace_gutter {
     color: #fff;
     background: var(--dark) !important;
 }
 .content-region #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {
     color: #fff;
     background: var(--dark);
     box-shadow: 0 1px 0 0 var(--dark) inset;
 }
 .ui-standard-sidebar-view #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {
     background: var(--main-color);
 }
/*======================================*/
/*======================================*/
/*======================================*/
.app, .callout-backdrop, .userPopout-11hFKo::before,.topSectionStreaming-3rIBIm, .topSectionPlaying-3jAH9b,.topSectionSpotify-3744IX, .topSectionNormal-2LlRG1 {
  background-size: cover !important;
  background-position:center!important
}
.theme-dark .inner-zqa7da,
.theme-dark .search .search-bar,
.contentSelectedText-3wUhMi,
.private-channels .channel a,
.theme-dark .ui-standard-sidebar-view .content-region,
.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background: rgba(0,0,0,0.6);
}
a,
.theme-dark .ui-standard-sidebar-view {
    background: transparent !important;
}
.message-group {
    background: rgba(0,0,0,0.6);
    color: rgba(255,255,255,1) !important;
}
.userPopout-3XzG_A,
.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: rgba(0,0,0,0.6);
}
.theme-dark .channelTextArea-rNsIhG {
    border: none;
}
.scrollerWrap-1IAIlv,
.theme-dark .guildsWrapper-5TJh6A {
    background: rgba(0,0,0, 0.4) !important;
    border: none !important;
}
.theme-dark #friends,
.theme-dark .headerBar-UHpsPw, #friends .friends-table,
.theme-dark #friends .friends-table .friends-table-header,
#friends .friends-table .friends-table-body {
    background: rgba(0,0,0, 0) !important;
}
.container-2Thooq {
    background: rgba(0,0,0,0.3) !important;
}
.private-channels .channel a {
    margin: 0;
}
.feed-1o0xmF {
    background-color: rgba(0,0,0,0.3);
}
.theme-dark .activityFeed-28jde9 {
    background-color: transparent;
}
.theme-dark .card-7JP0BX,
.theme-dark .header-1RC2Wb {
    background-color: rgba(0,0,0,0.8);
}
.theme-dark .status-2s6iDp {
    border-color: var(--dark);
}
.guilds-wrapper .guilds .guild-icon {
    background-color: var(--dark);
}
.private-channels .channel a, {
    background: rgba(0,0,0,0.0) !important;
}
.theme-dark .search .search-bar,
.search-bar .search-bar-inner,
.theme-dark .inner-zqa7da,
.theme-dark .ui-standard-sidebar-view {
    background: rgba(0,0,0,0.4) !important;
}
.theme-dark .message-group:not(.has-divider),
.theme-dark .message-group,
.scroller-wrap .scroller,
.theme-dark .title-3qD0b-,
.theme-dark .members-1998pB,
.theme-dark .chat>.content{
    background: transparent !important;
}
.theme-dark .quickswitcher-3JagVE,
.theme-dark .messagesPopoutWrap-1MQ1bW {
    background: rgba(0,0,0,0.9);
}
.theme-dark .input-2VB9rf,
.theme-dark .resultFocused-3aIoYe{
    background-color: rgba(0,0,0,0.9);
}
.theme-dark .messageGroupWrapper-o-Zw7G {
    background: rgba(0,0,0,0.2);
    border-color: var(--dark);
}
.message-group {
    color: rgba(255,255,255,1) !important;
}
.theme-dark .messages-wrapper {
    background: transparent !important;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region,
.container-PNkimc,
.channels-Ie2l6A,
.container-1UB9sr,
.channel-SEolQq .da-channel,
.form-deprecated .form-header,
.form.deprecated .form-header,
.form-deprecated .form-inner,
.form.deprecated .form-inner,
.theme-dark .body-3ND3kc,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .form-actions,
.bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j,
.bda-dark .emoji-picker .category,
.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group,
.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX,
.bda-dark .emoji-picker .header .search-bar,
.theme-dark .messagesPopoutWrap-1MQ1bW .footer-1kmXd4,
.bda-dark .emojiPicker-3m1S-j .header-1nkwgG .search-bar,
.bda-dark .emojiPicker-3m1S-j .category-2U57w6,
#bd-settingspane-container .scroller-wrap .scroller,
.bda-slist li,
.uploadArea-3QgLtW,
.theme-dark .layer-3QrUeG,
.theme-dark .layers-3iHuyZ,
.container-2lgZY8,
.theme-dark .body-SKIE6r,
.theme-dark .changeDetails-bk98pu,
.theme-dark .cardPrimaryOutline-29Ujqw,
.theme-dark .cardPrimaryEditable-3KtE4g,
.theme-dark .cardPrimary-1Hv-to,
.theme-dark .chat,
.theme-dark .item-1GzJrl:hover,
.theme-dark .ui-standard-sidebar-view .content-region,
.theme-dark .friends-table,
.theme-dark .chat form,
.theme-dark .headerBar-UHpsPw,
.need-help-modal.deprecated .form-inner.loading,
.need-help-modal.deprecated .footer,
.news-2GDtLJ,
.need-help-modal.deprecated .header input[type=text] {
  background: rgba(0,0,0,0.25);
}
.guilds-wrapper,
.headerTop-3C2Zn0,
.theme-dark .quickMessage-1yeL4E,
.theme-dark .search .search-bar,
.theme-dark .modal-3HD5ck, .theme-dark .footer-2yfCgX,
.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM,
.theme-dark .menu-Sp6bN1, .theme-dark .bar-2Qqk5Z,
.theme-dark .dockItem-2kQDqg:hover, .theme-dark .divider-1pnAR2,
.theme-dark .searchBar-1MOL6S, #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch, .theme-dark .member-3W1lQa:hover .content-OzHfo4,
.guilds-wrapper .scroller-wrap .scroller, .search-bar.search-bar-light .search-bar-inner,
.themeDefault-24hCdX.sizeDefault-2YlOZr, .need-help-modal.deprecated .header,
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected),
.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover, .theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover {
    background: rgba(0,0,0,0.5);
}
.private-channels .channel a {background: rgba(0,0,0,0) !important;}
.theme-dark .ui-standard-sidebar-view {background: rgba(0,0,0,0.8) !important;}
.theme-dark .message-group:not(.has-divider),
.theme-dark .message-group,
.theme-dark .chat>.content{background: transparent !important;}

.theme-dark .wrapper-1cBijl {
    background: rgba(0,0,0,0.6);
}
.theme-dark #friends .friends-table .friend-table-add-wrapper .friend-table-add-header,
.theme-dark .messagesWrapper-3lZDfY,
.theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3 {
    background: transparent;
}
.carousel-JbsNzL,
.paginationItem-3-MBTL:after,
.selectedPage-2JQS2s {
    background: rgba(0,0,0,0.5);
}
.theme-dark .header-1RC2Wb:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.7);
}
.theme-dark .friends-table .messages .message-group-blocked.revealed, .theme-dark .messages-wrapper .messages .message-group-blocked.revealed {
    background: transparent;
    border-color: #2f3136;
}
.theme-dark .friends-table .messages .message-group-blocked .message-group-blocked-btn:hover, .theme-dark .messages-wrapper .messages .message-group-blocked .message-group-blocked-btn:hover {
    background: var(--dark);
}
.theme-dark .headerBar-UHpsPw,
#friends .friends-table {
    margin-top: 0;
}
.chat .new-messages-bar {background-color: var(--main-color);}
.newMessagesBar-mujexs:hover {background-color: var(--main-darker);} {background-color: var(--main-darker);}
.appMount-3VJmYg, .typeWindows-1za-n7,
.typeWindows-1za-n7 {background: var(--dark);}
.wordmark-2iDDfm path {fill: #fff;}
.guilds-wrapper .guilds-add {
    background: var(--dark);
    border: 2px dashed var(--light);
    color: var(--light);
}
.create-guild-container.deprecated .action {
    background: transparent;
    border: none;
}.content-20Aix8:hover .nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .form-actions,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .form-header header,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .blurb-zsamaY,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .expireText-34b09Y {
    color: #fff !important;
}
.theme-dark .friends-table .messages .message-group-blocked, .theme-dark .messages-wrapper .messages .message-group-blocked,
.theme-dark .friends-table .messages .message-group-blocked .message-group-blocked-btn, .theme-dark .messages-wrapper .messages .message-group-blocked .message-group-blocked-btn {
    background: var(--dark);
    border-color: var(--dark);
}
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary,
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {
    background-color: var(--main-color);
}
.theme-dark #friends .tab-bar .tab-bar-item.selected{
    background-color: #fff;
    color: var(--main-color);
}
.activity-11LB_k,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.side-8zPYf6 .itemSelected-1qLhcL,
.barFill-23-gu-,
.bd-pfbtn,
.theme-dark .topSectionNormal-2-vo2m,
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4,
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4,
.topSectionPlaying-1J5E4n,
.ui-standard-sidebar-view #editor-detached button,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .copy-3nFbq8,
.theme-dark .questionMark-CWEQZn,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
.themeDefault-24hCdX.valueChecked-m-4IJZ,
#bd-settings-sidebar .ui-tab-bar-item.selected {
    background: var(--main-color) !important;
}
.theme-dark .headerExpanded-CUEwZ5,
.theme-dark .headerClickable-2IVFo9, .theme-dark .headerDefault-1wrJcN {
    background-color: var(--dark);
}
.theme-dark .hasMore-3e72_v button {
    background: rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.5);
}
.hasMore-3e72_v button {
    color: var(--main-color);
}
.theme-dark .auditLog-3jNbM6 {
    border-color: var(--dark);
}

.avatar-uploader-inner {background:transparent;}
.theme-dark .card-FDVird:before,
.theme-dark .cardPrimaryEditable-3KtE4g[style*="background-color: rgb(114, 137, 218);"] {
  background: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.theme-dark .cardPrimaryEditable-3KtE4g[style*="background-color: rgb(114, 137, 218);"] .checked-3_4uQ9 {
    border-color: var(--main-color) !important;
    color: var(--main-color) !important;
}
.theme-dark .cardPrimaryEditable-3KtE4g[style*="background-color: rgb(114, 137, 218);"] .checked-3_4uQ9 polyline {
    stroke: var(--main-color) !important;
}
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .checkbox .checkbox-inner input:checked+span,
.checkbox .checkbox-inner input[type=checkbox]:checked+span,
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background: var(--main-color);
    border-color: var(--main-color);
}

.theme-dark .input-cIJ7To.focused-1mmYsc,
.theme-dark .input-cIJ7To:focus {
    border-color: var(--main-color) !important;
}

.clipboardInputInner-1EXMA3 {
    background: var(--light);
    border-color: var(--main-color);
}
.clipboardInputInner-1EXMA3 button:first-of-type:before {
    background: -webkit-gradient(linear,left top,right top,from(hsla(0,0%,100%,0)),to(var(--grey)));
    background: linear-gradient(90deg,hsla(0,0%,100%,0),var(--grey));
}

.need-help-modal.deprecated .footer {border-top:1px solid var(--light);}
.need-help-modal.deprecated .header input[type=text] {
    box-shadow: none;
    border: #000;
}

.winButtonClose-1HsbF- {
    background-color: #f04747;
    opacity:0.8;
}
.theme-dark #friends .friends-table .friends-row:hover {
    background: rgba(0,0,0,0.7);
    border-color: transparent;
}
.winButtonMinMax-PBQ2gm{opacity:0.8;}
.winButtonMinMax-PBQ2gm,
.winButtonMinMax-PBQ2gm:hover {background-color: #16181d;}
.emoji-picker, .emojiPicker-3m1S-j {
    border-radius: 4px;
    border: 1px solid var(--dark);
}

.form.deprecated .form-header,
.form.deprecated .form-inner{color: var(--main-color);}

.container-1UB9sr {border-bottom:none;}

.clipboardInputInner-1EXMA3,
.wrapper-O5i5-0 .instantInviteModal-3vhcvC .clipboardInputInner-RLx2hK input{
    background-color: var(--light) !important;
}
/*  SCROLLBAR  */
::-webkit-scrollbar {border: none !important;width: 6px !important;}
::-webkit-scrollbar-track {background: rgba(0,0,0,0.3);border: none !important;}
::-webkit-scrollbar-track-piece {background: rgba(0,0,0,0.3) !important;border-radius: 0px !important;border: none !important;}
::-webkit-scrollbar-thumb {background: rgba(0,0,0,0.7) !important;border-radius: 0px !important;border: none !important;}
/*=============*/
/* Loading screen */
.container-16j22k {
  background-color: rgba(0,0,0,0.9);
}
/*============*/
.theme-dark .noChannel-Z1DQK7 {
    background: transparent;
}
.guildsError-3cFMtY {
    height: 35px;
    width: 35px;
    line-height: 30px;
    color: #fff !important;
}
.noIcon-1a_FrS.iconSizeLarge-161qtT {
    line-height: 35px;
}
.guildSeparator-1X4GQ1 {
    display: none;
}
.activity-11LB_k {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://i.makeagif.com/media/4-06-2015/Lf1kvf.gif");
}

.theme-dark .wrapper-29NfPK {
    background: transparent;
}
.video-1FfuMD {
    background-color: rgba(0,0,0,0.3);
}

.theme-dark .wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r {
    background-color: rgba(0,0,0,0.4);
    border-color: rgba(0,0,0,0.2);
}

.resultsGroup-r_nuzN {
    background-color: rgba(0,0,0,0.4);
}

.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: rgba(0,0,0,0.4);
}

.container-2Thooq {
    background-color: rgba(0,0,0,0.25) !important;
}

.content-20Aix8:hover {
    background-color: rgba(0,0,0,0.5) !important;
    background: -webkit-linear-gradient(var(--gradient1), var(--gradient2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: lime;
}
.nameSelectedText-sp_EUw::before {
    -webkit-text-fill-color: #fff;
}

.barFill-23-gu-,
.side-8zPYf6 .itemSelected-1qLhcL,
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: var(--main-color);
}
.theme-dark .menu-Sp6bN1 {
    background-color: var(--dark) !important;
}
