//META{"name":"Neutron_Wallpaper","description":"A better looking Discord! Up to date and easy to customize, now with wallpaper feature!","author":"Spectra#7698","version":"4.8","source":"https://github.com/codedotspectra/discordneutron","website":"https://codedotspectra.github.io/neutron/"}*//{}
/*
███╗   ██╗███████╗██╗   ██╗████████╗██████╗  ██████╗ ███╗   ██╗
████╗  ██║██╔════╝██║   ██║╚══██╔══╝██╔══██╗██╔═══██╗████╗  ██║
██╔██╗ ██║█████╗  ██║   ██║   ██║   ██████╔╝██║   ██║██╔██╗ ██║
██║╚██╗██║██╔══╝  ██║   ██║   ██║   ██╔══██╗██║   ██║██║╚██╗██║
██║ ╚████║███████╗╚██████╔╝   ██║   ██║  ██║╚██████╔╝██║ ╚████║
╚═╝  ╚═══╝╚══════╝ ╚═════╝    ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
========================================
#  Discord Neutron                     #
#  By Spectra#7698                     #
========================================
###################################################################################################
This theme is meant to be used with the dark version of discord
###################################################################################################*/
@import "https://raw.githubusercontent.com/codedotspectra/discordneutron/master/importCSS/core.css";
/*###################################################################################################*/
:root {
  /* Background image */
  --bgImage: url("https://i.imgur.com/8GNiJCd.png");

  /* Main theme color */
  --mainColor: #3366ff;
  --mainDarker: #0039e6;

  /* theme colors */
  --dark: #16181d;
  --medium: #21252b;
  --light: #282c34;

  /* Text colors */
  --links: #da5858;
  --ChatTextColor: #fff;
  --memberGroupColor: #fff;
  --UserPlayingTextColor: #a6a6a6;
  --ChannelsSelectedTextColor: #fff;
  --ChannelsDefaultTextColor: #8c8c8c;
  --ChannelsDarkTextColor: #666666;

  /* Wallpaper brightness | change this value from 0 to 1 */
  --brightness: 0.3;

  /* Home button */
  --HomeButtonImg: url("https://i.imgur.com/c7OJDHl.jpg");
}
/*###################################################################################################*/
