/* Compact member list */
.membersWrap-2h-GB4 {
  width: 48px;
  min-width:unset;
  transition: all .25s ease;
}
.membersWrap-2h-GB4:hover{
  width: 230px;
}
.membersGroup-v9BXpm {
  transition: all .5s ease;
  transform: scaleY(0);
}
.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
  transform: scaleY(1);
}
