.usernameOffline-3VSVLk:after {
    padding: 2px 3px 2px 3px;
    background: #f04747;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    flex-shrink: 0;
    font-size: 10px;
    font-weight: 500;
    line-height: 13px;
    margin-left: 6px;
    padding: 1px 2px;
    margin-top:1px;
    text-transform: uppercase;
    vertical-align: top;
    content: "offline";
}
.usernameOnline-3jr_0Y:after {
    padding: 2px 3px 2px 3px;
    background: #35974c;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    flex-shrink: 0;
    font-size: 10px;
    font-weight: 500;
    line-height: 13px;
    margin-left: 6px;
    padding: 1px 2px;
    text-transform: uppercase;
    vertical-align: top;
    content: "online";
    margin-top:1px;
}
