.typeWindows-1za-n7 {overflow: hidden;}
.typeWindows-1za-n7::before {
  content: "Like my themes and you want to support me ? paypal.me/JackNeth";
  position: absolute;
  width: 400px;
  height: 23px;
  line-height: 23px;
  font-size: 12px;
  color: #fff;
  top: 0;
  left: 42%;
  word-break: normal;
  text-overflow: ellipsis;
  transform: translateY(23px);
  animation: typeWindowText 60s linear 0s infinite normal;
}
@keyframes typeWindowText {
  9% {transform: translateY(23px);}
  10% {content: "Have a nice Christmas and New Year everyone <3";transform: translateY(0);}
  29% {content: "Have a nice Christmas and New Year everyone <3";transform: translateY(0);}
  30% {transform: translateY(23px);}

  39% {transform: translateY(23px);}
  40% {content: "Don't use betterdocs, i never agreed to have my themes there";transform: translateY(0);}
  59% {content: "Don't use betterdocs, i never agreed to have my themes there";transform: translateY(0);}
  60% {transform: translateY(23px);}

  79% {transform: translateY(23px);}
  80% {content: "Like my themes and you want to support me ? paypal.me/JackNeth";transform: translateY(0);}
  99% {content: "Like my themes and you want to support me ? paypal.me/JackNeth";transform: translateY(0);}
  100% {transform: translateY(23px);}
}
