//META{"name":"ED Steam","description":"A better looking Discord! Up to date and easy to customize","author":"Spectra#7698","version":"2.1"}*//{}
/*
███████╗███╗   ██╗██╗  ██╗ █████╗ ███╗   ██╗ ██████╗███████╗██████╗     ██████╗ ██╗███████╗ ██████╗ ██████╗ ██████╗ ██████╗
██╔════╝████╗  ██║██║  ██║██╔══██╗████╗  ██║██╔════╝██╔════╝██╔══██╗    ██╔══██╗██║██╔════╝██╔════╝██╔═══██╗██╔══██╗██╔══██╗
█████╗  ██╔██╗ ██║███████║███████║██╔██╗ ██║██║     █████╗  ██║  ██║    ██║  ██║██║███████╗██║     ██║   ██║██████╔╝██║  ██║
██╔══╝  ██║╚██╗██║██╔══██║██╔══██║██║╚██╗██║██║     ██╔══╝  ██║  ██║    ██║  ██║██║╚════██║██║     ██║   ██║██╔══██╗██║  ██║
███████╗██║ ╚████║██║  ██║██║  ██║██║ ╚████║╚██████╗███████╗██████╔╝    ██████╔╝██║███████║╚██████╗╚██████╔╝██║  ██║██████╔╝
╚══════╝╚═╝  ╚═══╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝╚══════╝╚═════╝     ╚═════╝ ╚═╝╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚═════╝
·▄▄▄▄   ▄▄▄· ▄▄▄  ▄ •▄     • ▌ ▄ ·.  ▄▄▄· ▄▄▄▄▄▄▄▄▄▄▄▄▄ .▄▄▄
██▪ ██ ▐█ ▀█ ▀▄ █·█▌▄▌▪    ·██ ▐███▪▐█ ▀█ •██  •██  ▀▄.▀·▀▄ █·
▐█· ▐█▌▄█▀▀█ ▐▀▀▄ ▐▀▀▄·    ▐█ ▌▐▌▐█·▄█▀▀█  ▐█.▪ ▐█.▪▐▀▀▪▄▐▀▀▄
██. ██ ▐█ ▪▐▌▐█•█▌▐█.█▌    ██ ██▌▐█▌▐█ ▪▐▌ ▐█▌· ▐█▌·▐█▄▄▌▐█•█▌
▀▀▀▀▀•  ▀  ▀ .▀  ▀·▀  ▀    ▀▀  █▪▀▀▀ ▀  ▀  ▀▀▀  ▀▀▀  ▀▀▀ .▀  ▀
========================================
#  Enhanced Discord Theme              #
#  By Spectra#7698                     #
#  Version: 2.1                        #
========================================
*/

@import url('https://cdn.rawgit.com/codedotspectra/enhanceddiscord/bc1438f3/css/enhanceddiscord.theme.css');

/*  COLORS  */
:root {
  --main-color: #1a3cb3;
  --main-darker: #0d1d59;
  --dark: #131c28;
  --grey: #1f2f42;
  --light: #273b52;
  --links: #4d79ff;
}
